-- Settings Table for Branding
CREATE TABLE IF NOT EXISTS system_settings (
  key TEXT PRIMARY KEY,
  value TEXT NOT NULL,
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- Seed defaults
INSERT INTO system_settings (key, value) VALUES 
('gymName', 'KAICENTER SC'),
('slogan', 'Osteomuscular & Ecological'),
('logoUrl', '')
ON CONFLICT (key) DO NOTHING;

-- Enable Realtime
ALTER TABLE system_settings REPLICA IDENTITY FULL;

-- RLS
ALTER TABLE system_settings ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Public
Read
Access\ ON system_settings FOR SELECT USING (true);
CREATE POLICY \Public
Update
Access\ ON system_settings FOR UPDATE USING (true);
CREATE POLICY \Public
Insert
Access\ ON system_settings FOR INSERT WITH CHECK (true);
